<div class="main posts-index">
  <div class="container">

    <% if Post.all.order(created_at: :desc) != nil%>
      <% @posts.each do |post| %>
        <% if post != nil%>
          <% if @current_circle.id == post.circle_id%>
          <div class="posts-index-item">
              <div class="post-left">
              <img src="<%= "/user_images/#{post.user_rb.image_name}" %>">
              </div>
              <div class="post-right">
                <div class="post-user-name">
                  <%= link_to(post.user_rb.name, "/users/#{@circle.id}/#{post.user_rb.id}") %>
                </div>
                <%= link_to(post.content, "/posts/#{@circle.id}/#{post.id}") %>
              </div>
            </div>
            <%end%>
          <%end%>
      <% end %>
    <%end%>
  </div>
</div>
