// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* users/index ================================ */
.book-heading {
    font-weight: 300;
    margin: 60px 0 20px;
    font-size: 48px;
    color: #bcc8d4;
  }
  
  .book-index-item {
    padding: 20px 30px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
    display: table;
    width: 100%;
  }
  
  .book-left img {
    width: 50px;
    height: 80px;
    
    box-shadow: 0 2px 6px #c1ced7;
    object-fit: cover;
  }
  
  .book-name a {
    font-weight: 600;
  }
  
  .book-name a:hover {
    color: #3ecdc6;
  }
  
  .book-left {
    float: left;
    width: 10%;
  }
  
  .book-right {
    width: 90%;
    padding-left: 25px;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
  }

  .book-lend{
    
    text-align: right;
    vertical-align: middle;
  }
  /* users/show ================================ */
.book-show {
  text-align: center;
}

.book {
  margin-bottom: 20px;
}

.book img {
  width: 80px;
  height: 120px;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
  object-fit: cover;
}

.book h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.book p {
  font-size: 13px;
  margin-bottom: 15px;
}

.book a {
  color: #8899a6;
  text-decoration: underline;
  font-weight: 200;
}

.book span {
  color: #afb6bf;
  font-weight: 200;
  padding: 0 6px 0 8px;
}

.book-tabs {
  margin-top: 40px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.book-tabs li {
  float: left;
}

.book-tabs li.active {
  border-bottom: 2px solid #3ecdc6;
}

.book-tabs li.active a {
  color: #57575f;
}

.book-tabs a {
  display: inline-block;
  padding: 16px 30px;
  color: #afb6bf;
}
.book-lend-show{
    
  text-align: center;
  vertical-align: middle;
}

/* users/new, users/edit ================================ */
.book-form input {
  margin-bottom: 15px;
}
  